<!-- Edit modal -->
<app-modal-update-meeting-info
  *ngIf="isAdminView"
  [meeting]="meeting"
  [loading]="updating"
  [active]="activeModalUpdate"
  (closed)="toggleFlag('activeModalUpdate')"
  (updated)="updateMeetingInfo($event)"
></app-modal-update-meeting-info>
<!-- Page content -->
<section class="section">
  <div class="container is-max-desktop">
    <div *ngIf="notify" class="notification is-info is-light">
      <button class="delete" (click)="notify = false"></button>
      La reunión se ha programado con éxito. Revisa tu correo para más detalles.
    </div>
    <app-meeting-room-info
      [meeting]="meeting"
      [showAdmin]="isAdminView"
      [loading]="deactivating"
      (showedUpdateModal)="toggleFlag('activeModalUpdate')"
      (closedVoting)="closeVoting()"
      (openedVoting)="openVoting()"
    ></app-meeting-room-info>
    <div class="mt-6">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <app-meeting-votes-results
            [meeting]="meeting"
            [loading]="saving"
            (savedVotes)="saveVotes($event)"
          ></app-meeting-votes-results>
          <p *ngIf="!meeting.isActive" class="mt-3 has-text-centered has-text-danger">
            Esta votación se ha cerrado
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
