<section class="section is-medium">
  <div class="container is-max-widescreen">
    <div class="columns is-vcentered">
      <div class="column is-half">
        <h1 class="title is-size-4 is-size-3-desktop has-text-weight-bold">
          Meeting-o-Matic te ayuda a programar reuniones sin tener que enviar decenas de correos
        </h1>
        <a routerLink="/crear" class="button is-primary">
          Empieza ahora
        </a>
      </div>
      <div class="column is-half is-hidden-mobile">
        <div class="columns is-centered">
          <img class="column is-two-thirds" src="assets/email.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container is-max-desktop">
    <h2 class="title is-size-4 is-size-3-desktop has-text-weight-bold has-text-centered">¿Cómo funciona?</h2>
    <div class="columns is-vcentered section mt-6">
      <div class="column is-half">
        <div class="columns is-centered">
          <img class="column is-5" src="assets/calendar.svg" alt="" style="max-width: 300px;">
        </div>
      </div>
      <div class="column is-half">
        <h3 class="title is-size-5 is-size-4-desktop has-text-weight-semibold">Programa una reunión</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos delectus nihil culpa odio velit tempore corporis? Quis sequi impedit molestiae?</p>
      </div>
    </div>
    <div class="columns is-vcentered section col-reverse">
      <div class="column is-half has-text-right">
        <h3 class="title is-size-5 is-size-4-desktop has-text-weight-semibold">Invita a quien quieras</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos delectus nihil culpa odio velit tempore corporis? Quis sequi impedit molestiae?</p>
      </div>
      <div class="column is-half">
        <div class="columns is-centered">
          <img class="column is-5" src="assets/send.svg" alt="" style="max-width: 300px;">
        </div>
      </div>
    </div>
    <div class="columns is-vcentered section">
      <div class="column is-half">
        <div class="columns is-centered">
          <img class="column is-5" src="assets/plan.svg" alt="" style="max-width: 300px;">
        </div>
      </div>
      <div class="column is-half">
        <h3 class="title is-size-5 is-size-4-desktop has-text-weight-semibold">Elige la mejor opción</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos delectus nihil culpa odio velit tempore corporis? Quis sequi impedit molestiae?</p>
      </div>
    </div>
  </div>
</section>