<footer class="footer">
  <div class="container is-max-widescreen">
    <div class="is-flex is-justify-content-space-between is-align-items-flex-end is-flex-wrap-wrap">
      <div class="">
        <p class="font-pacifico text-lg is-size-5">Meeting-o-Matic</p>
        <p>Universidad Nacional de la Plata</p>
        <p>Maestría en Ingeniería de Software - Tópicos II</p>
      </div>
      <div class="">
        <div class="has-text-right">
          <p>
            David Daza <a href="https://github.com/ddazal/mm" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>