<section class="section">
  <div class="container is-max-desktop">
    <h1 class="title is-size-3 is-size-2-desktop has-text-centered has-text-weight-bold has-text-primary">
      ¡Gracias por participar!
    </h1>
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="block">
          <p class="has-text-centered">
            Ya has elegido las opciones que mejor se acomodan a tu horario. Cuando sea el momento, {{ meeting.user.name }} te avisará la decisión que tome.
          </p>
          <div class="mt-4 has-text-centered">
            <a routerLink="/" class="button is-danger">
              Volver al inicio
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>