version: '3.8'

services:
  web:
    networks: 
      - frontend
    ports: 
      - "80:80"
  api:
    build:
      context: './backend'
    depends_on:
      - db
    networks:
      - frontend
      - backend
    ports:
      - "3000:3000"
  db:
    image: mongo:4.4.3-bionic
    restart: always
    networks:
      - backend


networks:
  backend:
  frontend: