/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.button {
  @apply px-3 py-1 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50;
}
