$footer-padding: 1.5rem 0.75rem;
$primary: #0331f4;
$danger: #d81159;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Pacifico&display=swap');
@import "bulma/bulma.sass";


html,
body {
  height: 100%;
}

.font-pacifico {
  font-family: Pacifico, cursive;
}

.font-montserrat {
  font-family: Montserrat, sans-serif;
}

@media screen and (max-width: $tablet) {
  .col-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}
