<h1 class="title is-size-3 is-size-2-desktop has-text-centered has-text-weight-bold has-text-link">¿Quién organiza el evento?</h1>
<form [formGroup]="eventAdminForm">
  <div class="field">
    <label for="name" class="label has-text-info">Tu nombre</label>
    <div class="control">
      <input id="name" formControlName="name" class="input"
        [class.is-danger]="name.invalid && (name.dirty || name.touched)" type="text" placeholder="Paquita la del Barrio"
        autocomplete="name" required />
    </div>
    <p *ngIf="name.invalid && (name.dirty || name.touched)" class="help is-danger">Este campo es obligatorio</p>
  </div>
  <div class="field">
    <label for="email" class="label has-text-info">Email</label>
    <div class="control">
      <input id="email" formControlName="email" class="input"
        [class.is-danger]="email.invalid && (email.dirty || email.touched)" type="email" placeholder="paquita@barrio.mx"
        autocomplete="email" required />
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="help is-danger">
      <p *ngIf="email.errors?.required">Este campo es obligatorio</p>
      <p *ngIf="email.errors?.pattern">Este no es un email válido</p>
    </div>
  </div>
</form>