<section class="section">
  <div class="container is-max-desktop">
    <p class="has-text-centered is-size-4">
      Paso {{ currentStepIndex + 1 }} de {{ totalSteps }}
    </p>
    <ng-template appStepHost></ng-template>
    <div class="is-flex is-justify-content-flex-end mt-3">
      <div class="field is-grouped">
        <div class="control">
          <button *ngIf="currentStepIndex > 0" (click)="goBack()" class="button font-montserrat">
            Regresar
          </button>
        </div>
        <div class="control">
          <button (click)="goNext()" class="button is-danger font-montserrat" [class.is-loading]="loading">
            Continuar
          </button>
        </div>
      </div>
    </div>
    <!-- Error message, if any -->
    <p *ngIf="stepErrorMessage" class="help is-danger has-text-right">
      {{stepErrorMessage}}
    </p>
  </div>
</section>