<h1 class="text-4xl text-center mb-6">¿Quién organiza el evento?</h1>
<form [formGroup]="eventAdminForm" class="space-y-6">
  <div class="space-y-2">
    <input
      formControlName="adminName"
      class="w-full p-2 border-b border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-300 focus:ring-opacity-25"
      type="text"
      placeholder="Nombre"
      required
    />
    <div
      *ngIf="adminName.invalid && (adminName.dirty || adminName.touched)"
      class="text-red-700 text-sm"
    >
      <p>Este campo es obligatorio</p>
    </div>
  </div>
  <div class="space-y-2">
    <input
      formControlName="adminEmail"
      class="w-full p-2 border-b border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-300 focus:ring-opacity-25"
      type="email"
      placeholder="Correo electrónico"
      required
    />
    <div
      *ngIf="adminEmail.invalid && (adminEmail.dirty || adminEmail.touched)"
      class="text-red-700 text-sm"
    >
      <p *ngIf="adminEmail.errors?.required">Este campo es obligatorio</p>
      <p *ngIf="adminEmail.errors?.pattern">Este no es un email válido</p>
    </div>
  </div>
</form>
