<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="container is-max-widescreen">
    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item is-size-4 has-text-link font-pacifico">
        Meeting-o-Matic
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" [class.is-active]="toggled"
        (click)="toggleMenu()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="menu" class="navbar-menu" [class.is-active]="toggled">
      <div class="navbar-end">
        <a routerLink="/crear" class="navbar-item">Programar reunión</a>
        <a href="" class="navbar-item">Iniciar sesión</a>
        <div class="navbar-item">
          <a href="" class="button is-link is-outlined">Crear cuenta</a>
        </div>
      </div>
    </div>
  </div>
</nav>