<h1 class="title is-size-3 is-size-2-desktop has-text-centered has-text-weight-bold has-text-link">¿Cuál es el motivo?</h1>
<form [formGroup]="eventInfoForm">
  <div class="field">
    <label class="label has-text-info" for="title">Título</label>
    <div class="control">
      <input id="title" formControlName="title" class="input"
        [class.is-danger]="title.invalid && (title.dirty || title.touched)" type="text"
        placeholder="Introduce el título" autocomplete="off" required />
    </div>
    <p *ngIf="title.invalid && (title.dirty || title.touched)" class="help is-danger">
      Este campo es obligatorio
    </p>
  </div>
  <div class="field">
    <label class="label has-text-info" id="description">Descripción</label>
    <div class="control">
      <textarea id="description" formControlName="description" class="textarea"
        placeholder="Añade una nota (opcional)"></textarea>
    </div>
  </div>
</form>